services:
  nmetl:
    platform: linux/aarch64
    environment:
      GITHUB_TOKEN: ${GITHUB_TOKEN}
    build: .
      # ports:
      # - "8000:8000"
    volumes:
      - ./packages/fastopendata/raw_data:/pycypher-nmetl/packages/fastopendata/raw_data # Mounts the current directory as /app inside the container
      - ./packages/fastopendata/data_assets:/pycypher-nmetl/packages/fastopendata/data_assets # Mounts the current directory as /app inside the container
    depends_on:
      - fdb_build
    network_mode: "service:fdb_build"
    # develop:
    #   watch:
    #     - action: sync
    #       path: ./packages
    #       target: /app/packages/
    #       initial_sync: true
  
  # fdb:
  #   image: foundationdb/foundationdb:7.4.4
  #   platform: linux/amd64
  #   ports:
  #     - "4550:4550"
  #   environment:
  #     VARIABLE: value
  #   command:
  #     - 'fdbcli --no-status --exec "configure new single ssd"'
  
  # fdb_service:
  #   platform: linux/aarch64
  #   build: ../fdb_client
  #   depends_on:
  #     - fdb
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - 9090:9090
    restart: unless-stopped
    # volumes:
    #   - ./prometheus:/etc/prometheus
    #   - ./prometheus_data:/prometheus/data
  grafana:
    image: grafana/grafana
    container_name: grafana
    volumes:
      - grafana-data:/var/lib/grafana
      - grafana:/etc/grafana/provisioning/datasources
    ports:
      - 3000:3000
    restart: unless-stopped
    # environment:
    #   - GF_SECURITY_ADMIN_USER=admin
    #   - GF_SECURITY_ADMIN_PASSWORD=grafana
    command:
      - 'grafana cli admin reset-admin-password admin'


  nominatim:
    container_name: nominatim
    image: mediagis/nominatim:5.2
    ports:
      - "8080:8080"
    environment:
      # see https://github.com/mediagis/nominatim-docker/tree/master/5.2#configuration for more options
      # PBF_URL: https://download.geofabrik.de/europe/monaco-latest.osm.pbf
      PBF_PATH: /nominatim/osm/georgia-251107.osm.pbf
      IMPORT_WIKIPEDIA: false   
      REPLICATION_URL: https://download.geofabrik.de/europe/monaco-updates/
      NOMINATIM_PASSWORD: very_secure_password
    volumes:
    - type: bind
      source: /home/zac/git/pycypher-nmetl/packages/fastopendata/nominatim_volumes/osm-maps
      target: /nominatim/osm
    - type: bind
      source: /home/zac/git/pycypher-nmetl/packages/fastopendata/nominatim_volumes/nominatim-data
      target: /var/lib/postgresql/16/main 
    shm_size: 1gb
  
  fdb_build:
    container_name: fdb_build
    platform: linux/arm64
    build: ./fdb_build
    ports:
    - "5050:5050"
  
  fastopendata_service:
    platform: linux/arm64
    build: ../fastopendata_service
      # ports:
      # - "8000:8000"

  neo4j:
    container_name: neo4j
    image: neo4j:community-bullseye
    ports:
      - "7474:7474"
      - "7687:7687"


volumes:
  prom_data:
  grafana-data:
  grafana:
  # osm:
  #   type: bind
  #   source: packages/fastopendata/nominatim_volumes/osm-maps
  #   target: /nominatim/osm
  # pg:
  #   type: bind
  #   source: packages/fastopendata/nominatim_volumes/nominatim-data
  #   target: /var/lib/postgresql/16/main
