[project]
name = "pycypher-nmetl"
version = "0.0.1"
description = "Declarative ETL using Cypher queries"
readme = "README.md"
requires-python = "==3.14.0a6+freethreaded"
keywords = ["neo4j", "cypher", "etl", "declarative"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.14",
]
dependencies = [
    "graphviz>=0.21",
    "ibis-framework>=11.0.0",
    "lark>=1.3.1",
    "osmium>=4.2.0",
    "pycosat>=0.6.6",
    "ty>=0.0.8",
    "isort",
    "ruff",
    "pytest>=8.4.2",
]

[[project.authors]]
name = "Zachary Ernst"
email = "zac.ernst@gmail.com"

[[project.maintainers]]
name = "Zachary Ernst"
email = "zac.ernst@gmail.com"

[project.optional-dependencies]
gui = ["PyQt5"]

[project.license]
file = "LICENSE.txt"

[project.urls]
Homepage = "https://github.com/zacernst/pycypher-nmetl"
Documentation = "https://zacernst.github.io/pycypher-nmetl/"

[tool.uv.workspace]
members = ["packages/*"]

[tool.uv.sources]
pycypher = { workspace = true }
nmetl = { workspace = true }
fastopendata = { workspace = true }
shared = { workspace = true }

[tool.pylint.main]
disable = ["line-too-long", "trailing-whitespace", "missing-docstring"]

[tool.ruff]
line-length = 79
indent-width = 4
target-version = "py312"
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    "raw_data",
]
extend-exclude = ["packages/fastopendata/src/fastopendata/ingest.py"]

[tool.ruff.lint]
select = ["ALL"]

[tool.coverage.report]
exclude_also = [
    "def tree",
    "def print_tree",
    "def __repr__",
    "if self.debug:",
    "if settings.DEBUG",
    "raise AssertionError",
    "raise NotImplementedError",
    "if 0:",
    "if __name__ == .__main__.:",
    "if TYPE_CHECKING:",
    "class .*\\bProtocol\\):",
    "@(abc\\.)?abstractmethod",
]

[tool.pytest.ini_options]
addopts = ""
testpaths = ["tests"]
markers = [
    "fact_collection: Tests that require a FactCollection"
]
timeout = 30


[dependency-groups]
dev = [
    "myst-parser>=4.0.1",
    "sphinx>=7.4.7",
    "ty>=0.0.1a6",
]

# [build-system]
# requires = ["hatchling"]
# build-backend = "hatchling.build"
# [tool.hatch]
# include = [
#     "README.md",
#     "LICENSE.txt",
#     "pyproject.toml",
#     "packages/pycypher/**/*.py",
#     "packages/pycypher/**/*.txt",
#     "packages/pycypher/**/*.json",
#     "packages/pycypher/**/*.yml",
#     "packages/pycypher/**/*.yaml",
#     "packages/pycypher/**/*.csv",
#     "packages/pycypher/**/*.parquet",
#     "packages/nmetl/**/*.py",
#     "packages/nmetl/**/*.txt",
#     "packages/nmetl/**/*.json",
#     "packages/nmetl/**/*.yml",
#     "packages/nmetl/**/*.yaml",
#     "packages/nmetl/**/*.csv",
#     "packages/nmetl/**/*.parquet",
#     "packages/fastopendata/**/*.py",
#     "packages/fastopendata/**/*.txt",
#     "packages/fastopendata/**/*.json",
#     "packages/fastopendata/**/*.yml",
#     "packages/fastopendata/**/*.yaml",
#     "packages/fastopendata/**/*.csv",
#     "packages/fastopendata/**/*.parquet",
# ]
# exclude = [
#     "packages/fastopendata/raw_data/**",
#     "raw_data/**",
# ]
